<main>
    <div id="header-create" class="header">
        <div class="top">
            <span class="close" (click)="back()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>

            <span class="title">
                {{ rota?.label }}
            </span>
        </div>
    </div>

    <div id="content-list" class="content" [class.content-client-app-android]="this.app.platform?.toLocaleLowerCase() == 'android'">
        <div class="route-progress">
            <div class="progress-bar">
                <span class="bar" [style.width]="progress"></span>
            </div>
            <span>
                {{ locals_finished }}  / {{ rota?.locals_details?.length }}
            </span>
        </div>

        <div class="route-filter">
            <span [class.active]="type_filter === 'pendentes'" (click)="filterRota('pendentes')">Pendentes</span>
            <span [class.active]="type_filter === 'todos'" (click)="filterRota('todos')">Todas as atividades</span>
        </div>

        <span class="label-inicio" *ngIf="type_filter === 'todos'">Início</span>
        <div class="route-locals">
            <div class="route-local" *ngFor="let local of locals_filtered, index as i">
                <span 
                [class.icon-start]="i === 0"  
                [class.icon-togo]="i > 0"  
                [ngClass]="getClassStatus(local.status) ?? getClassStatus(local.deliver_status)"
                [class.hasNext]="locals_filtered && i+1 < locals_filtered.length"
                >
                    <i class="fa fa-map-marker" aria-hidden="true" *ngIf="i === 0"></i>
                    <span *ngIf="i > 0">{{i}}</span>
                </span>
                <div class="local-details">
                    <div class="header">
                        <span class="name_address">{{ local.name_address }}</span>
                        <span class="deliver_start">{{ local.deliver_start ?? '' }}</span>
                    </div>
                    <div class="content">
                        <span class="full_address">{{ local.search_address }}</span>
                        <span class="status" [ngClass]="getClassStatus(local.status) ?? getClassStatus(local.deliver_status)">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            {{ getTypeStatus(local.status) ?? getTypeStatus(local.deliver_status) }}
                        </span>
                    </div>
                    <div class="actions">
                        <span class="checkIn" 
                        *ngIf="(getClassStatus(local.status) ?? getClassStatus(local.deliver_status)) !== 'finished'" 
                        (click)="openCheckin(i, local)">
                            Check-In
                        </span>
                        <span class="openMap" (click)="openRota(local.search_address)">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                            Ver Rota
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>