main {
    background-color: white;
    height: 100%;

    > .header {
        background-color: #186465;
        display: flex;
        flex-direction: column;
        padding: 2.6rem 1rem 1rem 1rem;
        gap: 1rem;
        margin-top: 0;

        .top {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            span {
                color: white;
                font-weight: bold;
            }
            
            .close {
                padding: 5px;
                i, svg {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                    color: white;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem 1rem 5rem 1rem;

        &.content-client-app-android {
            padding-bottom: 11rem!important;
        }

        > div {
            margin-bottom: 1rem;
        }

        // no scroll
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            display: none;
            width: 0 !important;
        }

        .route-progress {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            color: rgba(0, 0, 0, 0.3);

            .progress-bar {
                flex: 1;
                width: 100%;
                height: 6px;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 6px;

                .bar {
                    height: 6px;
                    background-color: #186465;
                }
            }
        }

        .route-filter {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            span {
                border: 1px solid rgba(0, 0, 0, 0.1);
                color: rgba(0, 0, 0, 0.7);
                padding: 6px 15px;
                border-radius: 20px;
                font-size: 14px;

                &.active {
                    border-color: #186465;
                    color: #186465;
                    background-color: #1864650c
                }
            }
        }

        .label-inicio {
            width: 24px;
            font-size: 12px;
            line-height: 12px;
            color: rgba(0, 0, 0, .3);
            font-weight: bold;
            text-align: center;
            margin-bottom: 4px;
        }

        .route-locals {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            .route-local {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                .icon-start > i {
                    border: 2px solid rgba(0, 0, 0, .5);
                }
                
                .icon-start,
                .icon-togo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 30px;
                    position: relative;

                    i, span {
                        background: rgba(0, 0, 0, .1);
                        color: rgba(0, 0, 0, .3);
                    }

                    &.running > i, &.running > span {
                        background: rgba(13, 110, 253, 0.1);
                        color: rgba(13, 110, 253, 1);
                    }
                    &.finished > i, &.finished > span {
                        background: rgba(25, 135, 84, 0.1);
                        color: rgba(25, 135, 84, 1);
                    }
                    &.canceled > i, &.canceled > span {
                        background: rgba(220, 53, 69, 0.1);
                        color: rgba(220, 53, 69, 1);
                    }
                    &.late > i, &.late > span {
                        background: rgba(255, 193, 7, 0.1);
                        color: rgba(255, 193, 7, 1);
                    }
                }

                .icon-start.hasNext::after,
                .icon-togo.hasNext::after {
                    content: '';
                    position: absolute;
                    border-left: 2px dashed rgba(0,0,0,.25);
                    height: calc(100% + 1rem - 20px); // gap between locals + height locals - top
                    top: calc(24px + 10px); // height icon + padding top/bottom icon

                }
                .icon-start > i {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    padding: 16px;
                    border-radius: 100%;
                }

                .icon-togo > span {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 16px;
                    border-radius: 100%;
                }
                
                .local-details {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    > div {
                        padding: 0;
                        margin: 0;
                    }
                    
                    .header {
                        height: 24px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .name_address {
                            flex: 1;
                            font-size: 18px;
                            line-height: 18px;
                        }

                        .deliver_start {
                            color: rgba(0, 0, 0, 0.5);
                            font-size: 13px;
                            line-height: 13px;
                        }
                    }

                    .content {
                        margin-top: 5px;

                        .full_address {
                            color: rgba(0, 0, 0, 0.5);
                            font-size: 12px;
                            line-height: 18px;
                            word-spacing: 8px;
                        }

                        .status {
                            margin-top: 10px;
                            color: rgba(0, 0, 0, 0.3);
                            font-size: 14px;
                            font-weight: bold;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;

                            &.running {
                                color: rgba(13, 110, 253, 1);
                            }
                            &.finished {
                                color: rgba(25, 135, 84, 1);
                            }
                            &.canceled {
                                color: rgba(220, 53, 69, 1);
                            }
                            &.late {
                                color: rgba(255, 193, 7, 1);
                            }

                            i {
                                font-size: 18px;
                            }
                        }

                    }

                    .actions {
                        margin-top: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        white-space: nowrap;
                        flex-wrap: wrap;

                        span {
                            height: 25px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;

                            &.shareWhatsApp {
                                border: 1px solid #1e7f80;
                                background-color: #186465;
                                color: white;
                                padding: 1.2rem .4rem;
                                border-radius: 5px;
                                font-size: 14px;
                                gap: 5px;
                                flex: 40%;
                                white-space: nowrap;
                            }

                            &.checkIn {
                                border: 1px solid #1e7f80;
                                color: #186465;
                                padding: 1.2rem .4rem;
                                border-radius: 5px;
                                font-size: 14px;
                                flex: 40%;
                            }

                            &.cancel {
                                border: 1px solid rgba(220, 53, 69, 1);
                                color: rgba(220, 53, 69, 1);
                                padding: 1.2rem .4rem;
                                border-radius: 5px;
                                font-size: 14px;
                                flex: 40%;
                            }

                            &.start {
                                border: 1px solid #1e7f80;
                                background-color: #186465;
                                color: white;
                                padding: 1.2rem 1rem;
                                border-radius: 5px;
                                font-size: 14px;
                                gap: 10px;
                                flex: 100%;
                            }

                            &.openMap {
                                border: 1px solid #1e7f80;
                                background-color: #186465;
                                color: white;
                                padding: 1.2rem 1rem;
                                border-radius: 5px;
                                font-size: 14px;
                                gap: 5px;
                                flex: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}