<nav class="header-client-app">
    <span class="back-nav" (click)="this.location.back()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span>Back</span>
    </span>
    <h6>{{ this.titlePage }}</h6>
</nav>


<main class="content-client-app" (click)="this.base.setMenu(false)" [class.content-client-app-android]="this.app.platform?.toLocaleLowerCase() == 'android'" >
    <div id="map"></div>

    <div id="replay-control">
        <div class="play" style="width: 20%; float:left;">
            <i class="fa fa-play" aria-hidden="true" (click)="play()" [hidden]="this.playReplay"></i>
            <i class="fa fa-pause" aria-hidden="true" (click)="play()" [hidden]="!this.playReplay"></i>
        </div>

        <div class="slidecontainer">
            <input #trajetoSlider type="range" class="form-range" [(ngModel)]="trajetoPasso" min="0" [max]="trajeto && trajeto.length-1" 
            color="primary" (change)="this.avancarPosicao(trajetoSlider.value)" (input)="this.avancarPosicao(trajetoSlider.value)">
        </div>

        <div class="vel">
            <div style="border:1px solid black; padding: 5px; border-radius: 8px;" (click)="this.mudarVelocidade()">
                {{ (velReplay == 600) ? "ALTA" : "BAIXA" }}
            </div>
        </div>
    </div>

    <div id="replay-infos">
        <div style="width: 100%;display: flex;flex-direction: row;">
            <span>{{ date | todate: "DD/MM/yyyy" }} <br/>{{ date | todate:"HH:mm:ss" }}</span>
            <span>Velocidade:<br/><i class="fa fa-tachometer" style="margin-right: .2rem;" aria-hidden="true"></i>{{ velocidade }}km/h</span>
            <span>Distância:<br/><i class="fa fa-road" aria-hidden="true"></i> {{ distance }}km</span>
        </div>
        <div style="width: 100%;display: flex;flex-direction: row;">
            <span>Duração:<br/><i class="fa fa-clock-o" aria-hidden="true"></i> {{ tempo }}</span>
            <span>Paradas:<br/>{{ paradas }}</span>
            <span>Gasto:<br/>R${{ gasto }}</span>
        </div>
    </div>
</main>