<nav class="header-client-app">
    <span class="back-nav" (click)="this.location.back()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span>Back</span>
    </span>
    <h6>{{ this.titlePage }}</h6>
</nav>


<main class="content-client-app content-client-app-android" (click)="this.base.setMenu(false)"  >
    <div id="map" class="map-replay"></div>

    <div id="replay-control">
        <div class="control-date">
            <span>{{ date | todate: "HH:mm [às] DD/MM/yyyy" }}</span>
        </div>
        <div class="play" style="width: 20%; float:left;">
            <i class="fa fa-play" aria-hidden="true" (click)="play()" [hidden]="this.playReplay"></i>
            <i class="fa fa-pause" aria-hidden="true" (click)="play()" [hidden]="!this.playReplay"></i>
        </div>

        <div class="slidecontainer">
            <input #trajetoSlider type="range" class="form-range" [(ngModel)]="trajetoPasso" min="0" [max]="trajeto && trajeto.length-1"
            color="primary" (change)="this.avancarPosicao(trajetoSlider.value)" (input)="this.avancarPosicao(trajetoSlider.value)">
        </div>

        <div class="vel">
            <div style="border:1px solid black; padding: 5px; border-radius: 8px;" (click)="this.mudarVelocidade()">
                {{ (velReplay == 600) ? "ALTA" : "BAIXA" }}
            </div>
        </div>
    </div>
</main>
