<nav class="header-client-app">
    <span class="menu-bar" (click)="this.base.setMenu(true)">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </span>
    <h6>{{ this.titlePage }}</h6>
</nav>


<main class="content-client-app p-3" (click)="this.base.setMenu(false)">
    <div class="page-header mb-4">
        <h5>Selecione os filtros do relatório</h5>
    </div>
    <div class="list-form">
        <div>
            <span>Placa</span>
            <div id="veiculo" class="form-select" (click)="this.openSelectBem()">
                <span (click)="this.openSelectBem()">{{ this.selectBem.inputValue }}</span>
            </div>
        </div>
    
        <div>
            <span>Relatório</span>
            <div class="form-select" (click)="this.openSelect('relatorio')">
                <span>{{ this.form.relatorio }}</span>
            </div>
        </div>
    
        <div>
            <span>Período</span>
            <div class="form-select" (click)="this.openSelect('periodo')">
                <span>{{  this.form.periodo }}</span>
            </div>
        </div>
    
        <div [className]="this.datePeriodClass">
            <span>Data</span>
            <input class="form-control input-date" [(ngModel)]="this.form.periodoDates.dia"
            type="date" id="data" />
        </div>
    
        <div [className]="this.datePeriodClass">
            <span>Inicio</span>
            <input class="form-control input-date" [(ngModel)]="this.form.periodoDates.inicio"
            type="text" name="data-inicio" id="data-inicio" maxlength="5" />
        </div>
    
        <div [className]="this.datePeriodClass">
            <span>Final</span>
            <input class="form-control input-date" [(ngModel)]="this.form.periodoDates.fim"
            type="text" id="data-final" maxlength="5" />
        </div>
    </div>
    
    
    <div class="d-grid mt-4">
        <button class="btn btn-primary p-2" type="button" (click)="this.getRelatorio()">Gerar Relatório</button>
    </div>
</main>

<div id="overlay" [class]="this.selectBem.overlayClass" (click)="this.closeSelectBem()"></div>
<div id="selectBem" [@selectVeiculosShow]="this.selectBem.selectClass">
	<div class="input-group">
        <span class="input-group-text" id="label-search-historico-bem">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" 
        placeholder="Placa, motorista ou veículo" 
        aria-label="Procure por placa, motorista ou veículo" 
        aria-describedby="label-search-historico-bem"
        [(ngModel)]="this.selectBem.filterValue"
        (input)="this.filterSelectBem()" tabindex="-1" />
        <span class="input-group-text" id="close-search-historico-bem">
            <i class="icon ion-md-close" aria-hidden="true"
            *ngIf="this.selectBem.filterValue" (click)="this.filterCancelSelectBem()"></i>
        </span>
    </div> 
    <div class="bem-list">
        <div *ngFor="let item of this.selectBem.filtered" (click)="selectedBem(item)">
			({{item.name}}) {{ item.marca }}
		</div>
    </div>
</div>