.header-client-app {
    justify-content: space-between;

    .lista-actions {
        display: flex;
        flex-direction: row;
        gap: .7rem;
        font-size: 1.2rem;

        i, svg {
            font-size: 1.4rem;
        }
    }
}

main.content-client-app {
    padding: .5rem .5rem 4rem .5rem;
    background-color: #f4f4f7;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}


.badge_right {
    position: absolute;
    right: -10px;
    width: 100%;
}
.img-icon{
    display: inline;
    width: 20px;
}
.img-icon-2{
    display: inline;
    height: auto;
    width: 40px !important;
    font-size: 2.8em !important;
}

.notifications-badge {
    border-radius: 50%;
    background: white;
    text-align: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    position: relative;
}

.notifications-badge::before {
    position: absolute;
    left: 4px;
    top: 2px;
}

.veiculo-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;

    .card-infoos {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
        padding-bottom: 10px;
        border-radius: 5px;

        &.status-on {
            .card-header-info {
                .vehicle-icon {
                    color: #32db64;
                }
                .vehicle-status { 
                    color: #32db64;
                    border-color: #32db64;
                    background-color: rgba(0,255,0,.1);
                }
            }

            .card-body-info > .tracker-infos { 
                .data-speed, .data-odometer, .data-battery {
                    .icon {
                        background-color: rgba(0,255,0,.1);
                        svg {
                            color: #32db64 !important;
                            fill: #32db64 !important;
                        }
                    }
                }
            }

            .card-more-info > .tracker-data > .icon {
                color: #32db64;
            }

            .card-more-actions > .actions > div {
                color: #32db64;
            }
        }

        &:not(.status-on) {
            .card-header-info {
                .vehicle-icon {
                    color: #f53d3d;
                }
                .vehicle-status > .icon {
                    transform:  rotate(-90deg);
                }
            }

            .card-body-info > .tracker-infos { 
                .data-speed, .data-odometer, .data-battery {
                    .icon {
                        background-color: rgba(200, 47, 47, 0.2);
                        svg {
                            color: #f53d3d !important;
                            fill: #f53d3d !important;
                        }
                    }
                }
            }

            .card-more-info > .tracker-data > .icon {
                color: #f53d3d;
            }

            .card-more-actions > .actions > div {
                color: #f53d3d;
            }
        }

        .card-header-info {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: .8rem .6rem;
            height: 70px;
            gap: 8px;

            .vehicle-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                background-color: rgba(0,0,0,.02);
                border-radius: 8px;
                border: 1px solid rgba(0,0,0,0.06);
                font-size: 26px;
                line-height: 26px;
            }

            .vehicle-detail {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 100%;
    
                .plate {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 14px;
                }
    
                .model {
                    font-size: 10px;
                    line-height: 10px;
                }
            }

            .vehicle-status {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                padding: 4px 8px;
                border: 1px solid #f53d3d;
                border-radius: 15px;
                color: #c82f2f;
                background-color: rgba(255,0,0,.1);
                gap: 4px;
                height: 25px;

                span {
                    font-size: 12px;
                    line-height: 12px;
                    flex: 1;
                }
            }
        }


        .card-body-info { 
            border-bottom: 1px solid rgba(0,0,0,.1);
            padding-bottom: 10px;

            .tracker-infos {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
                .data-odometer {
                    grid-template-columns: 25px 65px;
                }
                .data-speed {
                    grid-template-columns: 25px 50px;
                }
                .data-battery {
                    grid-template-columns: 25px 45px;
                }
                .data-speed, .data-odometer, .data-battery {
                    display: grid;
                    grid-template-areas: "info1 info2" "info1 info3";
                    grid-template-rows: 1fr 1fr;
                    column-gap: 8px;
                    row-gap: 4px;

                    > .icon {
                        grid-area: info1;
                        border-radius: 4px;
                        text-align: center;
                        svg {
                            width: 22px;
                            height: 28px;
                        }
                    }

                    > .label {
                        grid-area: info2;

                        color: rgba(0,0,0,0.5);
                        font-size: 10px;
                        line-height: 10px;
                        padding-top: 2px;
                    }

                    > .value {
                        grid-area: info3;

                        color: rgba(0,0,0);
                        font-size: 10px;
                        line-height: 10px;

                        span {
                            font-family: 'Courier New', Courier, monospace;
                            font-weight: 600;
                            font-size: 11px;

                            &.batery-null {
                                font-size: 10px;
                            }
                        }
                    }
                }
                
            }
        }

        .card-more-info {
            border-bottom: 1px solid rgba(0,0,0,.1);
            padding-bottom: 10px;

            .tracker-data {
                display: flex;
                flex-direction: row;
                gap: 8px;
                padding: 0 1rem;
                margin-top: 10px;

                .icon {
                    text-align: center;
                    line-height: 18px;
                    width: 12px;
                }

                .driver {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 12px;
                    line-height: 18px;
                }

                .last-address {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .value {
                        font-size: 12px;
                        line-height: 18px;
                        line-clamp: 2;
                        -webkit-line-clamp: 2;
                        -ms-flex-line-pack: 2;
                    }
                    .date-att {
                        font-size: 12px;
                        line-height: 12px;
                        color: rgba(0,0,0,.5);
                    }
                }
            }
        }

        .card-more-actions {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .label {
                padding: 0 1rem;
                color: rgb(58, 58, 58, .8);
                font-size: 12px;
            }

            .actions {
                display: flex;
                flex-direction: row;
                gap: 5px;
                div {
                    font-size: 18px;
                    line-height: 18px;
                    padding: 8px .5rem 8px 1rem;
                }
            }
        }  
    }
}

.veiculo-search {
    display: flex;
    flex-direction: row;
    gap: 5px;
    div {
        box-shadow: none;
        border-radius: 0;
        background-color: white;
        box-shadow: none;
        border-radius: 6px;
        padding: 6px 1rem;
        span, input {
            border-radius: 0;
            border: 0;
            padding: 0;
        }
  
        span#label-search-bem{
          background: white;
          border-right: 0;
          padding-right: 1rem;

          i, svg {
            font-size: 1.3rem;
          }
        }
        span#close-search-bem {
          background: white;
          border-left: 0;
        }
  
        input {
          border-left: 0;
          border-right: 0;
        }
  
        input:focus {
          box-shadow: none;
          border-color: #ced4da;
        }
    }

    .filter-group {
        background: none;
        width: 60px;
        padding: 0;
        margin: 0;

        span {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 22px;
            line-height: 22px;

            .count-funnel {
                position: absolute;
                background: #0d6efd;
                color: white;
                width: 14px;
                height: 14px;
                font-size: 10px;
                line-height: 10px;
                border-radius: 100%;
                margin-left: 28px;
                margin-top: 6px;
            }
        }
        
    }
}

.btn-dialog-actions {
    gap: .5rem;
}


#router-veiculos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-veiculo {
    .leaflet-bottom.leaflet-right {
        bottom: 5rem;
        z-index: 401;
    }
    .leaflet-top {
        top: 3rem;
    }
    .icon-vehicle {
        width: auto !important;
        
        // .iconLabel {
        //     display: none;
        // }
    }
}

.map-veiculos {
    .leaflet-bottom.leaflet-right {
        bottom: 1rem;
        z-index: 401;
    }
    .leaflet-top {
        top: 3rem;
    }
    .icon-vehicle {
        width: auto !important;
        
        // .iconLabel {
        //     display: none;
        // }
    }
}

// Lista popup
#filter-popup {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    &.content-client-app-android {
        .filter-content {
            height: calc(350px + 4rem) !important;
        }
    }

    .filter-overlay {
        background-color: rgba(0,0,0,.1);
        height: 100%;
        width: 100%;
    }

    .filter-content {
        position: absolute;
        width: 100%;
        background-color: white;
        border-radius: 1rem 1rem 0 0;
        padding: 1.2rem 1.5rem;
        margin: 0;
        height: 350px;
        bottom: -5px;
        left: 0;

        .filter-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h4 {
                font-size: 20px;
                line-height: 18px;
                font-weight: bold;
            }

            .btnFilterSave {
                font-size: 14px;
                line-height: 14px;
                color: #0d6efd;
            }

            * {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
            }
        }

        .filter-inputs {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 1rem 0;

            div {
                display: flex;
                gap: 6px;
                align-items: center;
                height: 35px;
                width: 100%;
                
                label {
                    width: 100%;
                    font-size: 14px;
                    line-height: 14px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    justify-content: space-between;

                    .filter-count {
                        background-color: #186465;
                        color: white;
                        width: 20px;
                        height: 20px;
                        font-size: 12px;
                        line-height: 12px;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }

                input {
                    margin-top: -2px;
                }
            }
        }
    }

    &.opened {
        z-index: 12;

        .filter-content {
            bottom: -5px;
            animation-name: open;
            animation-duration: .2s;
        }
    }

    &.closed {
        z-index: -1;

        .filter-content {
            bottom: -350px;
            animation-name: close;
            animation-duration: .2s;
        }
    }
}

@keyframes open {
    from {bottom: -350px;}
    to {bottom: -5px;}
}

@keyframes close {
    from {bottom: -5px;}
    to {bottom: 370px;}
}