<nav class="header-client-app">
    <span class="menu-bar" (click)="this.base.setMenu(true)">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </span>
    <h6>{{ this.titlePage }}</h6>
    <div class="lista-actions">
        <i class="icon ion-md-car" aria-hidden="true" (click)="this.mapaVeiculos()"></i>
        <i class="icon ion-md-refresh" aria-hidden="true" (click)="this.refresh()"></i>
    </div>
</nav>

<div id="router-veiculos" [@routeVeiculosAnimations]="this.getRouteAnimationData()">
    <router-outlet></router-outlet>
</div>

<main [class.content-client-app]="true" [class.content-client-app-android]="this.app.platform?.toLocaleLowerCase() == 'android'" (click)="this.base.setMenu(false)">
    <div class="veiculo-search">
        <div class="input-group">
            <span class="input-group-text" id="label-search-bem">
                <i class="icon ion-md-search" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" 
            placeholder="Placa, Motorista ou Veículo" 
            aria-label="Procure por placa, Motorista ou Veículo" 
            aria-describedby="label-search-bem"
            [(ngModel)]="this.searchValue"
            (input)="this.filterSelectBem()" />
            <span class="input-group-text" id="close-search-bem">
                <i class="icon ion-md-close" aria-hidden="true"
                *ngIf="this.searchValue" (click)="this.filterCancelSelectBem()"></i>
            </span>
        </div> 
        <div class="filter-group" (click)="this.openFilterStatus(true)">
            <span>
                <i class="icon ion-md-funnel"></i>
                <span class="count-funnel">{{filterStatus.inputsEnabled}}</span>
            </span>
        </div>
    </div>
    <div class="veiculo-card" [id]="item.id" [class.offcard]="item.status_sinal == 'D'" *ngFor="let item of this.veiculosFiltered">
        <div class="card-infoos" [class.status-on]="item.ligado === 'S'">
            <div class="card-header-info" (click)="mapaVeiculo(item)">
                <span class="vehicle-icon">
                    <i class="icon ion-md-car"></i>
                </span>
                <div class="vehicle-detail">
                    <span class="plate">{{item.name}}</span>
                    <span class="model">({{ item.marca }})</span>
                </div>

                <div class="vehicle-status">
                    <span class="icon">
                        <i class="icon ion-md-power"></i>
                    </span>
                    <span class="ignition">
                        {{ item.ligado === "S" ? 'Ligado' : 'Desligado' }}
                    </span>
                </div>
            </div>

            <div class="card-body-info" (click)="mapaVeiculo(item)">
                <div class="tracker-infos">
                    <div class="data-speed">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M326.1 231.9l-47.5 75.5a31 31 0 01-7 7 30.11 30.11 0 01-35-49l75.5-47.5a10.23 10.23 0 0111.7 0 10.06 10.06 0 012.3 14z"/><path d="M256 64C132.3 64 32 164.2 32 287.9a223.18 223.18 0 0056.3 148.5c1.1 1.2 2.1 2.4 3.2 3.5a25.19 25.19 0 0037.1-.1 173.13 173.13 0 01254.8 0 25.19 25.19 0 0037.1.1l3.2-3.5A223.18 223.18 0 00480 287.9C480 164.2 379.7 64 256 64z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M256 128v32M416 288h-32M128 288H96M165.49 197.49l-22.63-22.63M346.51 197.49l22.63-22.63"/></svg>
                        </span>
                        <span class="label">
                            Velocidade
                        </span>
                        <span class="value">
                            <span>{{item.speed}}</span> km/h
                        </span>
                    </div>

                    <div class="data-odometer">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M12 4C6.486 4 2 8.486 2 14a9.89 9.89 0 0 0 1.051 4.445c.17.34.516.555.895.555h16.107c.379 0 .726-.215.896-.555A9.89 9.89 0 0 0 22 14c0-5.514-4.486-10-10-10zm7.41 13H4.59A7.875 7.875 0 0 1 4 14c0-4.411 3.589-8 8-8s8 3.589 8 8a7.875 7.875 0 0 1-.59 3z"></path><path d="M10.939 12.939a1.53 1.53 0 0 0 0 2.561 1.53 1.53 0 0 0 2.121-.44l3.962-6.038a.034.034 0 0 0 0-.035.033.033 0 0 0-.045-.01l-6.038 3.962z"></path></svg>
                        </span>
                        <span class="label">Odômetro</span>
                        <span class="value">
                            <span>{{ item?.hodometro || 0 | mask: 'separator.0' | tokm }} </span>
                            km
                        </span>
                    </div>

                    <div class="data-battery">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M20 10V8a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-2h2v-4h-2zM9 17l2-3.89L7 12l6-5-1 3.89L16 12l-7 5z"></path></svg>
                        </span>
                        <span class="label">Bateria</span>
                        <span class="value">
                            <span [class.batery-null]="item?.voltagem_bateria === null">
                                {{item?.voltagem_bateria === null ? 'Indisp.' : item?.voltagem_bateria+' V'}}
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card-more-info" (click)="mapaVeiculo(item)">
                <div class="tracker-data">
                    <span class="icon">
                        <i class="icon ion-md-person"></i>
                    </span>
                    <div class="driver">
                        <span class="value">{{ item.motorista }}</span>
                    </div>
                </div>
                <div class="tracker-data">
                    <span class="icon">
                        <i class="icon ion-md-pin"></i>
                    </span>
                    <div class="last-address">
                        <span class="value">{{ item.endereco_regex }}</span>
                        <span class="date-att">Última atualização em {{item?.obj_localizacao?.date | todate:'DD/MM/yyyy HH:mm:ss' }}</span>
                    </div>
                </div>
            </div>

            <div class="card-more-actions">
                <span class="label">Opções de segurança ativas:</span>
                <div class="actions">
                    <div (click)="bloquear(item)" [hidden]="item.bloqueado=='S'">
                        <i color="iconscolor" class="fa fa-lock size-1_5"></i>
                    </div>
                    <div (click)="desbloquear(item)" [hidden]="item.bloqueado=='N'">
                        <i color="iconscolor" class="fa fa-unlock-alt size-1_5"></i>
                    </div>
                    <div (click)="cercas(item)">
                        <i color="iconscolor" class="fa fa-map size-1_5"></i>
                    </div>
                    <div (click)="limiteVelocidade(item)">
                        <i color="iconscolor" class="fa fa-exclamation-triangle size-1_5"></i>
                    </div>
                    <div (click)="notificacoes(item)">
                        <i color="iconscolor" class="fa fa-info-circle size-1_5"></i>
                    </div>
                </div>
            </div>
        </div>
	</div>
</main>

<div id="filter-popup" [class.opened]="this.filterStatus.opened" [class.closed]="!this.filterStatus.opened" [class.content-client-app-android]="this.app.platform?.toLocaleLowerCase() == 'android'">
    <div class="filter-overlay" (click)="this.openFilterStatus(false)"></div>
    <div class="filter-content">
        <div class="filter-header">
            <h4>Filtros</h4>
            <span class="btnFilterSave" (click)="this.saveFilterStatus()">Salvar</span>
        </div>
        <div class="filter-inputs">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter-ligado" [(ngModel)]="this.filterStatus.inputsTemp.ligado">
                <label class="form-check-label" for="filter-ligado">
                    Ligado <span class="filter-count">{{this.filterStatus.inputsCount.ligado}}</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter-desligado" [(ngModel)]="this.filterStatus.inputsTemp.desligado">
                <label class="form-check-label" for="filter-desligado">
                    Desligado <span class="filter-count">{{this.filterStatus.inputsCount.desligado}}</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter-ligado-parado" [(ngModel)]="this.filterStatus.inputsTemp.ligadoparado">
                <label class="form-check-label" for="filter-ligado-parado">
                    Ligado parado <span class="filter-count">{{this.filterStatus.inputsCount.ligadoparado}}</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter-off-24h" [(ngModel)]="this.filterStatus.inputsTemp.off24h">
                <label class="form-check-label" for="filter-off-24h">
                    Offline +24h <span class="filter-count">{{this.filterStatus.inputsCount.off24h}}</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter-off-48h" [(ngModel)]="this.filterStatus.inputsTemp.off48h">
                <label class="form-check-label" for="filter-off-48h">
                    Offline +48h <span class="filter-count">{{this.filterStatus.inputsCount.off48h}}</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter-off-72h" [(ngModel)]="this.filterStatus.inputsTemp.off72h">
                <label class="form-check-label" for="filter-off-72h">
                    Offline +72h <span class="filter-count">{{this.filterStatus.inputsCount.off72h}}</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="filter-off-7d" [(ngModel)]="this.filterStatus.inputsTemp.off7d">
                <label class="form-check-label" for="filter-off-7d">
                    Offline +7 dias <span class="filter-count">{{this.filterStatus.inputsCount.off7d}}</span>
                </label>
            </div>
        </div>
    </div>
</div>


<div style="display: none;">
    <img src="assets/modals/bloquear.png">
    <img src="assets/modals/desbloquear.png">
    <img src="assets/modals/velocidadelimite.png">
</div>